/cosinorage.egg-info/
/R/
/.idea/

*.pkl

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
.swp
.swo

__pycache__/
*.py[cod]

venv/
.env/
.venv/

node_modules/
.Python

.env
*.key
*.pem

.envrc
.credentials

*.ipynb_checkpoints/